# Node/React general
node_modules/
dist/
build/
.cache/
.next/
out/
coverage/

# Env and secrets
.env
.env.*
*.pem

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS/editor cruft
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Misc tool caches
.parcel-cache/
.turbo/
.eslintcache
