*, *:before, *:after {
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    width: 414px;
    display: flex;
    flex-direction: column;
}
.about-me-content{
    width: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.about-me-profile img{
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin: 1em auto;
    display: block;
}

.about-me-profile{
    width: 80%;
    margin-left: 20px;
}

.about-me-title{
    width: 374px;
    font-weight: 700;
    font-style: Bold;
    font-size: 34px;
    line-height: 108%;
    letter-spacing: -3%;
    /* text-align: center; */
    color: #151515;

}

.about-me-sub{
    width: 374px;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0%;
    color: #151515;
}

.article-body{
    width: 374px;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 1.25;
    color: #151515;
}

.recent-posts{
    width: 100%;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000;
    margin: 2em 0;
}

@media (min-width: 480px){
    body{
        width: 100%;
    }
    
    .about-me-profile img{
        width: 200px;
        height: 200px;
    }

    .about-me-content{
        gap: 2em;
        width: 100%;
        margin-left: 53px;
        display: flex;
        flex-direction: row;
    }

    
    .about-me-title{
        width: 764px;
    }
    .about-me-sub{
        width: 764px;
        height: auto;
    }
    .article-body{
        margin-left: 121px;
        width: 844px;
    }
    .about-me-title, .about-me-sub, .article-body, .recent-posts{
        width: 100%;
    }


}